*{  /*ok*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    color: #E5E4E0;
}

body{  /*ok*/
    background-color: #030104;
}

header {  /*ok*/
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-between;
    padding: 3rem 2rem;
    align-items: center;
    font-size: 1rem;
}
header a{  /*ok*/
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
} 


.horizontal-list{  /*ok*/
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    font-size: 1rem;
    gap: 1rem;
    border-style: none;
}

nav ul li{  /*ok*/
    list-style: none;
    filter: grayscale(1);
}
nav ul li:hover{  /*ok*/
    filter: none;
    box-shadow: 0px 4px 2px -2px #E6E200;
}
nav ul li span:hover{  /*ok*/
    color: #E6E200;
}


footer{  /*ok*/
    background-color: #1e1e1e;
    padding-left: 5rem;
    padding-right: 5rem;
}
footer p{  /*ok*/
    text-align: right;
}

.hero-text{  /*ok*/
    font-size: 1.25rem;
    padding-top: 10rem;
    margin-bottom: 2rem;

}

button.hero-button{  /*ok*/
    all: unset;
    border-radius: var(--Radius-Radius-XXL, 64px);
    border: var(--Border-Border-Thin, 1px) solid #E5E4E0;
    display: flex;
    padding: var(--Spacing-Spacing-08, 8px) var(--Spacing-Spacing-16, 16px);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-1, 4px);
    /* margin-top: 5px; */
    margin-left: 5px;
    margin-bottom: 0px;
}
button.hero-button:hover{  /*ok*/
    margin-top: -5px;
    margin-left: 0px;
    margin-bottom: 5px;
    color: #e5e4e0;
    border: 1px solid #e5e4e0;
    box-shadow: 5px 5px #e5e4e0;
    transition: 0.3s;
}
button.hero-button:active{  /*ok*/
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 0px;
    box-shadow: none;
    background-color: #E5E4E0;
    
}
button.hero-button a{  /*ok*/
    text-decoration: none;
}
button.hero-button a:active{  /*ok*/
    color: #030104;
}
main{  /*ok*/
    width: 80%;
    margin: auto;
}
.hero{  /*ok*/
    padding-bottom: 2rem; 
}
.title-animation{  /*ok*/
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: auto;
}
.title-animation img{  /*ok*/
    display: flex;
    justify-self: center;
    position: relative;
    background-image: url(../assets/img/fondoanimado.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.links{ /*ok*/
    margin-top: 2rem;
    font-size: 1.25rem;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 1.25rem;
    color: #E5E4E0;
    border-style: none;
    align-items: center;
    text-decoration: none;
    vertical-align: middle;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.links a{ /*ok*/
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: .3125rem;
}

section div ul.projects{
    padding-left: 5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: -5rem;
    align-self: stretch;
    margin-bottom: 5rem;
}

h2{ /*ok*/
    color: #FFF;
    font-family: poppins;
    font-size: 6rem;
    font-style: normal;
    font-weight: 250;
    line-height: 0.8em;
    letter-spacing: 2.88px;
    margin-bottom: 4rem;
}
h2 span{  /*ok*/
    color: #FFF;
    font-family: poppins;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 150;
    line-height: 150.563%; /* 60.225px */
    letter-spacing: 1.2px;
    margin-left: -1rem;
}

.letsTalk{ /*ok*/
    color: #E5E4E0;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 150% */
    text-transform: uppercase;
}

.hquorumImage{ /*ok*/
    max-width: 100%;
    height: auto;
    border-radius: 36px;
    filter: grayscale(1);
}
.hquorumImage:hover{ /*ok*/
    filter: none;    
    box-shadow: 0px 12px 16px 0px rgba(103, 0, 229, 0.36);
}


.about { /*ok*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 2rem;

    color: #E5E4E0;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    text-align: justify;
    margin-left: 5rem;
    background-color: #1e1e1e;
    border-radius: 36px;
    box-shadow: 0px 12px 16px 0px rgba(103, 0, 229, 0.36);
    margin-bottom: 5rem;
    padding: 32px;
}
    
.about1 { /*ok*/
    grid-column: span 2 / span 2;
    margin-top: 3rem;
    margin-left: 3rem;
    font-size: 2rem;
}

.about2 { /*ok*/
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 1;
    grid-row-start: 2;
}

.about3 { /*ok*/
    grid-row: span 5 / span 5;
    grid-column-start: 3;
    grid-row-start: 1;
    justify-self: center;
}

.koralan{ /*ok*/
    display: flex;
    flex-direction: column;
    padding: 36px 32px;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;

    color: #E5E4E0;
    font-size: 1.5rem;
    text-align: justify;
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: #1e1e1e;
    border-radius: 36px;
    box-shadow: 0px 12px 16px 0px rgba(103, 0, 229, 0.36);
    margin-bottom: 5rem;
}

ul.formularios{
    list-style-type: none;
}
input.form{
    display: flex;
    flex-direction: column;
    all: unset;
    color: #E5E4E0;
    margin: 0.5rem;
    font-size: 1.5rem;
    border-width: 1px;
    border-bottom: 1px#E5E4E0 solid;
    border-left: 0px;
    border-right: 0px;
    padding: 0.5rem;
    width: 100%;
    justify-content: center;
}
.form:focus{
    border-bottom: 2px#E6E200 solid;
    color: #E6E200;
}

.form:invalid{
    color: #a81b1b;
    border-bottom: 2px#a81b1b;
    
}

div.contact-button button{
    all: unset;
    color: #E5E4E0;
    border-radius: var(--Radius-Radius-XXL, 64px);
    border: var(--Border-Border-Thin, 1px) solid #E5E4E0;
    display: flex;
    padding: var(--Spacing-Spacing-08, 8px) var(--Spacing-Spacing-16, 16px);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-1, 4px);
    margin-top: 3rem;
    margin-right: 5px;
    margin-bottom: 5px;
}
div.contact-button button:hover{
    margin-top: 3.3125rem;
    margin-left: 0px;
    margin-bottom: 0px;
        color: #e5e4e0;
        border: 1px solid #e5e4e0;
        box-shadow: -5px -5px #e5e4e0;
        transition: 0.3s;
}
div.contact-button button:active{
    margin-top: 3rem;
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow: none;
    text-decoration: none;
    background-color: #E5E4E0;
    color: #030104;
}
.contact-button{
    display: flex;
    justify-content: flex-end;
}

@media(max-width: 1023px){ /*ok*/
    .links{
        display: flex;
    }
    .links a span{
        display: none;
    }
    footer p{
        display: none;
    } 
    .horizontal-list span{
        display: none;
    } 
    .title-animation{
        margin-bottom: 5rem; 
        margin-top: 5rem;
    }
    .about{
        display: flex;
        flex-direction: column;
        margin: 0;
        font-size: 1rem;
    }
    .about1{
        text-align: center;
        margin: 0;
    }
    .about3{
        display: none;
    }
}


@media(max-width:525px){
    .links{
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    .links img{
        max-width: 80%;
    }
    header{
        flex-direction: column;
    }
    .horizontal-list{
        padding-top: 2rem;
    }
    main{
        width: 100%;
        padding: 0rem;
    }
    .hero-text{
        text-align: center;
    }
    .div-button{
        display: flex;
        justify-content: center;
    }
    /* section h2{
        display: flex;
        font-size: 4rem;
        justify-content: center;
        width: 90%; 
    }   */
    h2{
        color: #FFF;
        font-family: poppins;
        font-size: 4rem;
        font-style: normal;
        font-weight: 250;
        line-height: 0.8em;
        letter-spacing: 2.88px;
        margin-bottom: 4rem;
        margin-left: 2;
    }
    h2 span{
        color: #FFF;
        font-family: poppins;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 150;
        line-height: 150.563%; /* 60.225px */
        letter-spacing: 1.2px;
        margin-left: 1rem;
    }
    
    .letsTalk{
        display: flex;
        justify-content: center;
    }
    .form{
        margin: 0;
        padding: 0;
    }
    .about{
        display: flex;
        flex-direction: column;
        border-radius: 0;
        margin: 0;
        font-size: 1rem;
    }
    .koralan{
        display: flex;
        flex-direction: column;
        border-radius: 0;
        margin: 0;
        font-size: 1rem;
    }
    .about1{
        text-align: center;
        margin: 0;
    }
    .about3{
        display: none;
    }
}