@media(max-width: 1023px){
    .links{
        display: flex;
        a span{
            display: none;
        }
    } 
    footer p{
        display: none;
    } 
    .horizontal-list span{
        display: none;
    } 
    .title-animation{
        margin-bottom: 5rem; 
        margin-top: 5rem;
    }
    .about{
        display: flex;
        flex-direction: column;
        margin: 0;
        font-size: 1rem;
        .about1{
            text-align: center;
            margin: 0;
        }
        .about3{
            display: none;
    }
    }
}