body{
    position: relative;
    header { 
    background-color: map-get($colors, backgroundGrey);
    display: flex;
    justify-content: space-between;
    padding: 3rem 2rem;
    align-items: center;
    font-size: map-get($font-size, md );
    position: sticky;
    top: 0;
    z-index: 99999;
        a{
        display: flex;
        align-items: center;
        gap: 1rem;
        text-decoration: none;
        } 
        nav{
            ul li{
                list-style: none;
                filter: grayscale(1);
            }
            .horizontal-list{
                display: flex;
                justify-content: flex-end;
                flex-direction: row-reverse;
                font-size: map-get($font-size, md );
                gap: 1rem;
                border-style: none;
            }
            nav ul li:hover{
                filter: none;
                box-shadow: 0px 4px 2px -2px #E6E200;
            }
            nav ul li span:hover{
                color: #E6E200;
            }
        }
    } //Header
}